<!-- Top Navbar -->
<header class="flex justify-between items-center bg-white border-b px-6 py-3 shadow">
    <!-- Left side: Title -->
    <h1 class="text-2xl font-bold">
        Filument Foundry 
        {% if is_granted('ROLE_WORKER') %}
            Worker
        {% else %}
            Admin
        {% endif %}
    </h1>

    <!-- Right side: Button -->
    <a href="{{ path('home_index') }}" 
        class="flex items-center gap-2 text-black font-semibold px-4 py-2 rounded-md 
                bg-[rgb(251,165,3)] hover:bg-[rgb(252,175,36)] 
                transition-colors shadow-lg">
            <img src="{{ asset('images/admin navbar/Log out.svg') }}" alt="Upload Icon" class="w-4 h-4">
            Back to Site
        </a>
</header>

{# CURRENTROUTE IN BASE HTML TWIG#}
<!-- START OF DETAIL -->
<div class="min-h-screen flex bg-gray-50">
    <!-- Left Navbar -->
    <aside class="w-64 bg-white border-r p-4">
            <nav class="space-y-2">
                <a href="{{ path('management_dashboard') }}"
                    class="flex items-center gap-2 px-3 py-2 rounded-md font-medium transition
                    {{ currentRoute == 'management_dashboard' 
                    ? 'bg-black text-white' 
                    : 'bg-white text-black hover:bg-[rgb(251,165,3)]' }}">
                    <img src="{{ asset('images/admin navbar/Dashboard.svg') }}"
                        alt="Dashboard Icon"
                        class="w-4 h-4 {{ currentRoute == 'management_dashboard' ? 'invert brightness-0' : '' }}">
                    Dashboard
                </a>

                <a href="{{ path('management_orders') }}"
                    class="flex items-center gap-2 px-3 py-2 rounded-md font-medium transition
                    {{ currentRoute == 'management_orders' 
                    ? 'bg-black text-white' 
                    : 'bg-white text-black hover:bg-[rgb(251,165,3)]' }}">
                    <img src="{{ asset('images/admin navbar/orders.svg') }}"
                        alt="Orders Icon"
                        class="w-4 h-4 {{ currentRoute == 'management_orders' ? 'invert brightness-0' : '' }}">
                    Orders
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('management_users') }}"
                        class="flex items-center gap-2 px-3 py-2 rounded-md font-medium transition
                        {{ currentRoute == 'management_users' 
                        ? 'bg-black text-white' 
                        : 'bg-white text-black hover:bg-[rgb(251,165,3)]' }}">
                        <img src="{{ asset('images/admin navbar/users.svg') }}"
                            alt="Orders Icon"
                            class="w-4 h-4 {{ currentRoute == 'management_users' ? 'invert brightness-0' : '' }}">
                        Users
                    </a>
                {% endif %}

                <a href="{{ path('management_materials') }}"
                    class="flex items-center gap-2 px-3 py-2 rounded-md font-medium transition
                    {{ currentRoute == 'management_materials' 
                    ? 'bg-black text-white' 
                    : 'bg-white text-black hover:bg-[rgb(251,165,3)]' }}">
                    <img src="{{ asset('images/admin navbar/Materials.svg') }}"
                        alt="Materials Icon"
                        class="w-4 h-4 {{ currentRoute == 'management_materials' ? 'invert brightness-0' : '' }}">
                    Materials
                </a>

                <a href="{{ path('management_finishes') }}"
                    class="flex items-center gap-2 px-3 py-2 rounded-md font-medium transition
                    {{ currentRoute == 'management_finishes' 
                    ? 'bg-black text-white' 
                    : 'bg-white text-black hover:bg-[rgb(251,165,3)]' }}">
                    <img src="{{ asset('images/admin navbar/Finishes.svg') }}"
                        alt="Finishes Icon"
                        class="w-4 h-4 {{ currentRoute == 'management_finishes' ? 'invert brightness-0' : '' }}">
                    Finishes
                </a>

                <a href="{{ path('management_colors') }}"
                    class="flex items-center gap-2 px-3 py-2 rounded-md font-medium transition
                    {{ currentRoute == 'management_colors' 
                    ? 'bg-black text-white' 
                    : 'bg-white text-black hover:bg-[rgb(251,165,3)]' }}">
                    <img src="{{ asset('images/admin navbar/pallete.svg') }}"
                        alt="Colors Icon"
                        class="w-4 h-4 {{ currentRoute == 'management_colors' ? 'invert brightness-0' : '' }}">
                    Colors
                </a>

                {# <a href="{{ path('management_settings') }}"
                    class="flex items-center gap-2 px-3 py-2 rounded-md font-medium transition
                    {{ currentRoute == 'management_settings' 
                    ? 'bg-black text-white' 
                    : 'bg-white text-black hover:bg-[rgb(251,165,3)]' }}">
                    <img src="{{ asset('images/admin navbar/Settings.svg') }}"
                        alt="Settings Icon"
                        class="w-4 h-4 {{ currentRoute == 'management_settings' ? 'invert brightness-0' : '' }}">
                    Settings
                </a> #}
            </nav>
        </aside>
    